{% include 'base.html' %}
{% include 'navbar.html' %}
{% block content %}

{% if error == "no" %}
<script>
    alert('Record saved successfully');
    window.location="{% url 'patient' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid, please try again');
</script>
{% endif %}


<section class="s1">
    <div class="container">
        <h1 class="text-center"> Add patient</h1><br>
        <form method="post">
            {% csrf_token %}
            <label for="">Patient Name</label>
            <input type="text" class="form-control" name="name"/>
            <label for="">Gender</label>
            <input type="text" class="form-control" name="gender"/>
            <label for="">Mobile</label>
            <input type="number" class="form-control" name="mobile"/>
            <label for="">Address</label>
            <input type="text" class="form-control" name="address"/>
            <br>
            <input type="submit" value="submit" class="form-control btn btn-primary"/>
        </form>
    </div>
</section>
{% endblock content %}
{% include 'footer.html' %}