<style>
    .s10{
        text-align: center;
        padding: 25px;
        background-color: #212529;
        color: white;
    }
    .bi{
    font-size: 15px;
    color: white;
}
.text{
    color: black;
    display: inline-block;
    text-decoration: none;
}
a{
    text-decoration: none;
}
</style>
<section class="s10 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="inbox21">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <br>
                    <!-- <p class="h6">Copyright 2006-2017 HOSPITAL inc.All right reserved.</p> -->
                    <a class="h6" class="text"> Hospital Management System</a>
                </div>
            </div>
        </div>
    </div>
</section>