{% include 'base.html' %}
{% include 'navbar.html' %}

{% block content %}
{% if 'error=="no"' %}
<script>
    alert('logged in successfully');
    window.location="{% url 'home' %}";
</script>
{% endif %}


{% if 'error=="yes"' %}
<script>
    alert('invalid try again');
</script>
{% endif %}

<section class="s1">
    <div class="container">
        <h2 class="text-center">Admin Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="">Admin Name</label>
            <input type="text" class="form-control" name="uname"/>
            <label for="">Password</label>
            <input type="password" class="form-control" name="pwd"/>

            <input type="submit" value="login" class="form-control btn btn-primary"/>
        </form>
    </div>
</section>
{% endblock content %}
<!-- {% include 'footer.html' %} -->